<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ id ? 'Editar Proyecto' : 'Crear Proyecto' }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
                <!-- Mostrar el ID solo si estamos editando un proyecto -->
                <div *ngIf="id" class="field">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>ID del Proyecto</mat-label>
                        <input matInput [value]="id" readonly>
                    </mat-form-field>
                </div>

                <!-- Nombre del Proyecto -->
                <div class="field">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Título del Proyecto</mat-label>
                        <input matInput formControlName="name" placeholder="Ingresa el título">
                        <mat-error *ngIf="proyectoForm.get('name')?.invalid">El Título es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <!-- Catch Phrase de la Compañía -->
                <div class="field">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="catchPhrase" placeholder="Ingresa la descripción">
                        <mat-error *ngIf="proyectoForm.get('catchPhrase')?.invalid">La descripción es
                            obligatoria</mat-error>
                    </mat-form-field>
                </div>

                <div class="action-buttons">
                    <button mat-raised-button color="primary" type="submit" [disabled]="proyectoForm.invalid">
                        {{ id ? 'Actualizar Proyecto' : 'Crear Proyecto' }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>