<div class="container">
    <h1>Lista de Tareas</h1>

    <button mat-raised-button color="primary" (click)="onCreate(idUsuario)">Nueva Tarea</button>

    <mat-list>
        <mat-list-item *ngFor="let tarea of tareas">
            <mat-checkbox [checked]="tarea.completed">{{ tarea.id }} - {{ tarea.title }}</mat-checkbox>

            <button mat-icon-button color="accent" [routerLink]="['/tareas', idUsuario, 'editar', tarea.id]">
                <mat-icon>edit</mat-icon>
              </button>
            <button mat-icon-button color="warn" (click)="onDelete(tarea.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>